<div class="recipes-container">

  <p class="new-recipe"> <%= link_to 'Add new recipe', new_recipe_path, class: "add-ingredient" %> </p>
  
    <% @recipes.each do |recipe| %>
    <div class="recipes">
      <p class="recipes-remove">
      <%= link_to "#{recipe.name.capitalize}", recipe_path(recipe), class:"recipe-name"  %>
       <%= link_to 'Remove', recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "remove-button"%>
      

     </p>
     <div class="description">
        <p class="d-detail"> Description for recipe <%= recipe.name.capitalize %> </p>
        <p class="d-detail"> <%= recipe.description %> </p>
     </div>
    </div>
    <% end %>
